<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /mental_wellness_web/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /mental_wellness_web/index.html [L]
</IfModule>